* {
  font-family: Verdana;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  overflow: hidden;
}
#root,
#app {
  width: 100%;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: row;
}
#sidemenu {
  display: flex;
  flex-direction: column;
  background-color: #0c1e2a;
  justify-content: start;
  align-items: center;
  padding: 24px;
  height: 100%;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
}
#logo {
  height: 150px;
  width: 150px;
}
.route {
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  position: relative;
  border: 2px solid #555;
  background: white;
  text-align: center;
  margin: 16px;
}
.route.selected {
  background: #56bee1;
}
#content {
  display: flex;
  display: block;
  width: 100%;
  overflow-y: auto;
  margin: 32px;
}
